<%- include('header') %>
<form action="/login" method="post">
        <label for="lname">Email:</label><br>
        <input type="text" name="email" placeholder="your email here""><br><br>
        <label for="lname">Password:</label><br>
        <input type="password" name="password" placeholder="your password here""><br><br>
        <input type="submit" value="Submit">
    </form> 

<%- include('footer') %> 